<br><br>
<!-- current movie image -->
<p><img src="{{editMovie.imageUrl}}"></p>

<h3>Edit Your Flick's Details:</h3>

<div class="container">
    <div class="form-group">
        <label for="image">Image Url:</label>
        <input type="url" class="form-control" id="image" [(ngModel)]="editMovie.imageUrl">
    </div>
    <br>
    <div class="form-group">
        <label for="movieTitle">Title:</label>
        <input type="text" class="form-control" id="movieTitle"
            [(ngModel)]="editMovie.movieTitle">
    </div>
    <br>
    <div class="form-group">
        <label for="year">Year released:</label>
        <input type="text" class="form-control" id="year"
            [(ngModel)]="editMovie.year">
    </div>
    <br>
    <div class="form-group">
        <label for="runTime">Run time (minutes):</label>
        <input type="text" class="form-control" id="runTime"
            [(ngModel)]="editMovie.runTimeInMinutes">
    </div>
    <br>
    <div class="form-group">
        <label for="genre">Genre:</label>
        <input type="text" class="form-control" id="genre"
            [(ngModel)]="editMovie.genre">
    </div>
    <br>
    <div class="form-group">
        <label for="leadActors">Starring:</label>
        <input type="text" class="form-control" id="leadActors"
            [(ngModel)]="editMovie.leadActors">
    </div>
    <br>
    <div class="form-group">
        <label for="description">Description:</label>
        <textarea type="text" class="form-control" id="description"
            [(ngModel)]="editMovie.description"></textarea>
    </div>
    <input type="hidden" ngModel="{{editMovie.movieId}}" name="movieId" class="form-control" id="movieId">
    <input type="hidden" ngModel="{{editMovie.authorId}}" name="authorId" class="form-control" id="authorId">
    <!-- Figure out a way to send the authorId with the tags?  Or handle this on backend? -->
    <!-- <input type="hidden" ngModel="{{editMovie.tags}}" name="tags" class="form-control" id="tags"> -->

</div>

<br><br>

<p>Tags:</p>
<!-- For Tags list: -->
<ng-multiselect-dropdown
  [placeholder]="'Add tags'"
  [settings]="dropdownSettings"
  [data]="dropdownList"
  [(ngModel)]="editMovie.tags"
  (onSelect)="onItemSelect($event)"
  (onSelectAll)="onSelectAll($event)"
>
</ng-multiselect-dropdown>

<br><br>

<button type="button" class="btn btn-lg" (click)="saveFlick()">Save Flick</button>
