<h2>Edit Your Flick's Details:</h2>

<br><br>

<p><img src="{{editMovie.imageUrl}}"></p>

<div class="container">
    <form>
        <div class="form-group">
            <label for="image">Image Url:</label>
            <input type="text" name="image" class="form-control" id="image" [(ngModel)]="editMovie.imageUrl">
        </div>
        <br>
        <div class="form-group">
            <label for="movieTitle">Title:</label>
            <input type="text" name="movieTitle" class="form-control" id="movieTitle"
                [(ngModel)]="editMovie.movieTitle">
        </div>
        <br>
        <div class="form-group">
            <label for="year">Year released:</label>
            <input type="text" name="year" class="form-control" id="year" [(ngModel)]="editMovie.year">
        </div>
        <br>
        <div class="form-group">
            <label for="runTime">Run time (minutes):</label>
            <input type="text" name="runTime" class="form-control" id="runTime"
                [(ngModel)]="editMovie.runTimeInMinutes">
        </div>
        <br>
        <div class="form-group">
            <label for="genre">Genre:</label>
            <input type="text" name="genre" class="form-control" id="genre" [(ngModel)]="editMovie.genre">
        </div>
        <br>
        <div class="form-group">
            <label for="leadActors">Starring:</label>
            <input type="text" name="leadActors" class="form-control" id="leadActors"
                [(ngModel)]="editMovie.leadActors">
        </div>
        <br>
        <div class="form-group">
            <label for="description">Description:</label>
            <textarea type="text" name="description" class="form-control" id="description"
                [(ngModel)]="editMovie.description"></textarea>
        </div>
        <br>
        <input type="hidden" name="movieId" ngModel="{{editMovie.movieId}}" name="movieId" class="form-control"
            id="movieId">
        <input type="hidden" name="authorId" ngModel="{{editMovie.authorId}}" name="authorId" class="form-control"
            id="authorId">
    </form>

    <br><br>

    <p>Tags:</p>
    <!-- For Tags list: -->
    <ng-multiselect-dropdown [placeholder]="'Add tags'" [settings]="dropdownSettings" [data]="dropdownList"
        [(ngModel)]="editMovie.tags" (onSelect)="onItemSelect($event)" (onSelectAll)="onSelectAll($event)">
    </ng-multiselect-dropdown>

    <br><br>

    <button type="button" class="btn btn-lg" (click)="goBack()">Go Back</button>
    <button type="button" class="btn btn-lg" (click)="saveFlick()">Save Flick</button>
</div>

<br><br>