<h2>Sign Up!</h2>

<br><br>

<div class="container">
    <form>
        <div class="form-group">
            <label for="firstName">First Name:</label>
            <input type="text" name="firstName" class="form-control" id="firstName" placeholder="First name" required
                [(ngModel)]="newUser.firstName" #firstName="ngModel">
        </div>
        <br>
        <div class="form-group">
            <label for="lastName">Last Name:</label>
            <input type="text" name="lastName" class="form-control" id="lastName" placeholder="Last name" [(ngModel)]="newUser.lastName"
                #lastName="ngModel">
        </div>
        <br>
        <div class="form-group">
            <label for="username">Email:</label>
            <input type="text" name="username" class="form-control" id="username" placeholder="my_email@email.com"
                [(ngModel)]="newUser.username" #username="ngModel">
        </div>
        <br>
        <div class="form-group">
            <label for="password">Password:</label>
            <input type="text" name="password" class="form-control" id="password" placeholder="Password" [(ngModel)]="newUser.password"
                #password="ngModel">
        </div>
        <br><br>
    </form>

    <button type="button" class="btn btn-lg" (click)="register()">Create Account</button>

</div>

<br><br>

<div>
    Already registered? <a routerLink="/login">Login Here!</a>
</div>