<h2>Manage Your Tags:</h2>


<!-- Show this div by default -->
<div class="container" *ngIf = "!isEdit">
    <div *ngFor = "let tag of allTags">
        <span>{{tag.tagName}}  </span>
        <button class="btn btn-sm" (click)="deleteTag(tag.tagId)">Delete</button>
        <br>
    </div>
    <br>
    <button class="btn btn-sm" (click)="toggleDisplay()">Edit Tags</button>
</div>

<!-- Show this div when user wants to edit tag names -->
<div class="container" *ngIf = "isEdit">
    <div *ngFor = "let tag of allTags">
        <input type="text" class="form-control" id="editTagName" [(ngModel)]="tag.tagName">
        <button class="btn btn-sm" (click)="updateTag(tag.tagId, tag)">Update Tag</button>
        <button class="btn btn-sm" (click)="deleteTag(tag.tagId)">Delete</button>
        <br>
    </div>
    <br>
    <button class="btn btn-sm" (click)="toggleDisplay()">Save Changes</button>
</div>

<br><br>

<form #createTag="ngForm">
<div class="form-group">
    <label for="createTag">Create a new tag:</label>
    <input name = "addTagName" type="text" class="form-control" id="createTag" [(ngModel)]="newTag.tagName">
    <button class="btn btn-sm" (click)="addTag(); createTag.reset()">Add Tag</button>
</div>
</form>
