<h2>Manage Your Tags:</h2>

<!-- Show this div by default -->
<div class="container" *ngIf="!isEdit">
    <div *ngFor="let tag of allTags">
        <span>{{tag.tagName}} </span>
        <button class="btn btn-sm" (click)="showUpdateTags(tag.tagId)">Edit Tag</button>
        <button class="btn btn-sm" (click)="deleteTag(tag.tagId)">Delete</button>
        <br>
    </div>
    <br>
</div>

<!-- Show this div when user wants to edit tag names -->
<div class="container" *ngIf="isEdit">
    <input type="text" class="form-control" id="editTagName" [(ngModel)]="editTag.tagName">
    <br><br>
    <button class="btn btn-sm" (click)="showAllTags()">Go Back</button>
    <button class="btn btn-sm" (click)="updateTag(tagId, editTag); showAllTags()">Save Changes</button>
</div>

<br><br>

<!-- Show this div by default as well -->
<div class="container" *ngIf="!isEdit">
    <form #createTag="ngForm">
        <div class="form-group">
            <label for="createTag">Create a new tag:</label>
            <input name="addTagName" type="text" class="form-control" id="createTag" [(ngModel)]="newTag.tagName">
            <button class="btn btn-sm" (click)="addTag(); createTag.reset()">Add Tag</button>
        </div>
    </form>
</div>