<!-- Show this div by default -->
<div *ngIf="!isEdit">
    <h2>Manage Your Tags:</h2>

    <br><br>
    <div *ngFor="let tag of allTags">
            <div class="row">
                <div class="col align-right">
                    <span>{{tag.tagName}} </span>
                </div>
                <div class="col align-left">
                    <button class="btn btn-sm" (click)="showUpdateTags(tag.tagId)"><img src="assets/images/edit.png" alt="Edit"></button>
                    <button class="btn btn-sm" (click)="deleteTag(tag.tagId)"><img src="assets/images/delete.png" alt="Delete"></button>
                </div>
            </div>
        <br>
    </div>
    <br>
</div>

<!-- Show this div when user wants to edit tag names -->
<div class="container" *ngIf="isEdit">
    <h2>Edit Your Tag:</h2>

    <br><br>
    <input type="text" class="form-control" id="editTagName" [(ngModel)]="editTag.tagName">
    <br><br>
    <button class="btn btn-lg" (click)="showAllTags()">Go Back</button>
    <button class="btn btn-lg" (click)="updateTag(tagId, editTag); showAllTags()">Save Changes</button>
</div>

<br><br>

<!-- Show this div by default as well -->
<div class="container" *ngIf="!isEdit">
    <form #createTag="ngForm">
        <div class="form-group">
            <label class="tag-label" for="createTag">Create a new tag:</label>
            <br>
            <input name="addTagName" type="text" class="form-control" id="createTag" [(ngModel)]="newTag.tagName">
            <br>
            <button class="btn btn-lg" (click)="addTag(); createTag.reset()">Add Tag</button>
        </div>
    </form>
</div>

<br><br>