<h1>Welcome, {{user.firstName}}!</h1>

<br><br>

<div class="container">
    <h4 class="sentence1">Whether you're planning your next watch party or just need to find a flick that's friendly for
        the whole family,
        Pick a Flick is for you!</h4>
</div>

<br><br>

<div *ngIf="recentMovies.length">
    <h2>Recently Added:</h2>
    <div *ngFor="let movie of recentMovies">
        <div class="image-med-container">
            <a [routerLink]="['/movies', movie.movieId]"><img class="movie-image" src="{{movie.imageUrl}}"></a>
        </div>
        <br>
        <a class="movie-title" [routerLink]="['/movies', movie.movieId]">{{movie.movieTitle}}</a>
        <div>Tags:
            <span *ngFor="let tag of movie.tags; last as isLast"><a
                    [routerLink]="['/movies-search', tag.tagId]">{{tag.tagName}}</a><span *ngIf="!isLast">,
                </span></span>
        </div>
        <br><br><br>
    </div>
    <a routerLink="/movies">View All Flicks...</a>
</div>

<div *ngIf="!recentMovies.length">No Flicks Added Yet!</div>

<br><br>