<app-nav-bar></app-nav-bar>
<!-- *ngIf="!authService.isLoggedIn" -->
<!-- <div *ngIf="!authService.isLoggedIn">
    <h1>Pick a Flick! (Logo)</h1>
    <hr>
</div> -->

<!-- *ngIf="authService.isLoggedIn" -->
<!-- <div *ngIf="authService.isLoggedIn">
    <h1>Pick a Flick! (Logo) Welcome User!</h1>
    <div>
        <nav>
            <a routerLink="home">Home</a> | <a routerLink="movies">My Flicks</a> | <a routerLink="movies-add">Add a Flick</a> | 
            <a routerLink="movies-search">Pick a Flick</a> | <a routerLink="tags-manage">Manage Tags</a> | <a routerLink="login" (click)="onLogout()">Logout</a>
        </nav>
    </div>
</div> -->
<router-outlet></router-outlet>

