<div *ngIf="!getToken()">
    <h1>Pick a Flick! (Logo)</h1>
    <hr>
</div>

<div *ngIf="getToken()">
    <h1>Pick a Flick! (Logo)</h1>
    <p>{{user.firstName}}'s account</p>
    <hr>
    <div>
        <nav>
            <a routerLink="home">Home</a> | <a routerLink="movies">My Flicks</a> | <a routerLink="movies-add">Add a Flick</a> | 
            <a routerLink="movies-search">Pick a Flick</a> | <a routerLink="tags-manage">Manage Tags</a> | <a routerLink="login" (click)="onLogout()">Logout</a>
        </nav>
    </div>
    <hr>
</div>