<h2>Pick a Flick!</h2>

<!-- For Tags list: -->
<ng-multiselect-dropdown
  [placeholder]="'Search by tag...'"
  [settings]="dropdownSettings"
  [data]="dropdownList"
  (onSelect)="onItemSelect($event)"
  (onSelectAll)="onSelectAll($event)"
>
</ng-multiselect-dropdown>

<br><br>

<button type="button" class="btn btn-lg" (click)="findFlickByTag()">Find Flicks</button>

<br><br>

<div *ngFor = "let movie of taggedMovies">
    <a [routerLink]="['/movies', movie.movieId]"><img src="{{movie.imageUrl}}"></a>
    <br>
    <a [routerLink]="['/movies', movie.movieId]">{{movie.movieTitle}}</a>
    <br><br><br>
</div>
<div *ngIf = "this.show">No Flicks Found!</div>
