.smallImage {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.smallImageContainer {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.Search {
  width: 600px;
  margin: auto;
}
