body {
  height: 100%;
}
body {
  margin-top: 5em;
  font-size: 1em;
}

button {
  margin-bottom: 01%;
  margin-right: 01%;
  margin-top: 01%;
  margin-bottom: 01%;
}

/* .logo {
  display:block;
  width:506px;
  height:75px;
  text-indent:100%;
  white-space: nowrap;
  overflow: hidden;
  margin: 0 auto;
} */

.logo {
  display:block;
  /* width:506px;
  height:75px; */
  text-indent:100%;
  white-space: nowrap;
  overflow: hidden;
  margin: 0 auto;
}

.logo-container {
  background-color: white;
}

.movie-title {
  font-size: 1.5em;
}

.movie-image {
  max-width: 100%;
  min-width: 100%;
  height: auto;

}
.image-sm-container {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.image-med-container {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.main-container {
  text-align: center;
}

/* Mobile */
@media only screen
and (min-device-width: 280px)
and (max-device-width: 559px)
and (-webkit-min-device-pixel-ratio: 3) {
  .main-container {
    padding: 0 1%;
    text-align: center;
  }
  nav {
    font-size: x-small;
  }
  .image-sm-container {
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  .image-med-container {
    width: 85%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

/* Tablet */
@media only screen
and (min-device-width: 560px)
and (max-device-width: 1300px)
and (-webkit-min-device-pixel-ratio: 2) {
  .main-container {
    padding: 0 15%;
    text-align: center;
  }
  nav {
    font-size: larger;
  }
  .image-sm-container {
    width: 35%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  .image-med-container {
    width: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

/* Laptop */
@media screen
and (min-device-width: 1301px)
and (-webkit-min-device-pixel-ratio: 1) {
  .main-container {
    padding: 0 30%;
    text-align: center;
  }
  nav {
    font-size: larger;
  }
  .image-sm-container {
    width: 40%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  .image-med-container {
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
